script(type="text/javascript" src="javascripts/jquery/jquery.min.js")
script(type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js")
script(type="text/javascript" src="javascripts/fullpage.js/jquery.fullpage.min.js")
script(type="text/javascript" src="javascripts/jquery-custom-plugins.js")

