script(
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
script(type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js")
script(type="text/javascript" src="javascripts/fullpage.js/jquery.fullpage.min.js")
script(type="text/javascript" src="javascripts/scrollreveal/scrollreveal.min.js")
script(type="text/javascript" src="javascripts/jquery-custom-plugins.js")

