footer(class=['footer'])
    .container
        .row
            .col-md-3.footer-content
                h4 BLUEWAYS
                address
                    p Steintrælia 16, 5238 RÅDAL NORWAY
                    p E-post: 
                        a(href="mailto:post@blue-ways.org") post@blue-ways.org
                    p Telefon: 
                        a(href="tel:+4740784763") +47 407 84 763
                    p Org.nr: 917 279 586
            .col-md-3.footer-content
                h4 SITE MAP
                ul
                    li: a(href="/about") Om oss
                    li: a(href="/projects") Våre prosjekter
                    li: a(href="/projects#waterpump") Vannpumpe
                    li: a(href="/projects#rice") Risplanting
                    li: a(href="/projects#clean-water") Rent drikkevann
                    li: a(href="/projects#waterpump") Vannpumpe
                    li: a(href="/projects#identity") Identitet
                    li: a(href="/contact") Kontakt oss
                    li: a(href="/news") Nyheter
                    li: a(href="/support") Støtt oss
            .col-md-3.footer-content
                h4 Følg oss
                p: a(href="https://www.facebook.com/bluewaysorg") Facebook
            .col-md-3.footer-content
                h4 &nbsp
                p Designet og utviklet av Raintech
