footer(class=['footer'])
    .container
        .row
            .col-md-3.footer-content
                h4 BLUEWAYS
                address
                    if lang == "NO"
                        p Steintrælia 16, 5238 RÅDAL NORGE
                        p E-post: 
                            a(href="mailto:post@blue-ways.org") post@blue-ways.org
                        p Telefon: 
                            a(href="tel:+4740784763") +47 407 84 763
                    else if lang == "FR"
                        p Steintrælia 16, 5238 RÅDAL NORVÈGE
                        p Email: 
                            a(href="mailto:post@blue-ways.org") post@blue-ways.org
                        p Téléphone:
                            a(href="tel:+4740784763") +47 407 84 763
                    else
                        p Steintrælia 16, 5238 RÅDAL NORWAY
                        p Email: 
                            a(href="mailto:post@blue-ways.org") post@blue-ways.org
                        p Telephone:
                            a(href="tel:+4740784763") +47 407 84 763
                    p Org.nr: 917 279 586
            if lang == "EN"
                .col-md-3.footer-content
                    h4 SITE MAP
                    ul
                        li: a(href="/en/about") About us
                        li: a(href="/en/projects") Out projects
                        li: a(href="/en/projects") Water pump
                        li: a(href="/en/projects#rice") Rice planting
                        li: a(href="/en/projects#clean-water") Clean drinking water
                        li: a(href="/en/projects#waterpump") Water pump
                        li: a(href="/en/projects#identity") Identity
                        li: a(href="/en/contact") Contact us
                        li: a(href="/en/support") Support us
                .col-md-3.footer-content
                    h4 Follow us
                    p: a(href="https://www.facebook.com/bluewaysorg") Facebook
                .col-md-3.footer-content
                    h4 &nbsp
                    p Designet by Raintech
            else if lang == "FR"
                .col-md-3.footer-content
                    h4 PLAN DU SITE
                    ul
                        li: a(href="/fr/about") L'organisation
                        li: a(href="/fr/projects") Nos projets
                        li: a(href="/fr/projects#waterpump") Pompe à eau
                        li: a(href="/fr/projects#rice") Plantation de riz
                        li: a(href="/fr/projects#clean-water") EAU POTABLE
                        li: a(href="/fr/projects#waterpump") Pompe à eau
                        li: a(href="/fr/projects#identity") IDENTITÉ
                        li: a(href="/fr/contact") Contact
                        li: a(href="/fr/support") Nous soutenir
                .col-md-3.footer-content
                    h4 Suivez-nous
                    p: a(href="https://www.facebook.com/bluewaysorg") Facebook
                .col-md-3.footer-content
                    h4 &nbsp
                    p Agence web Raintech.
            else 
                .col-md-3.footer-content
                    h4 PLAN DU SITE
                    ul
                        li: a(href="/about") Om oss
                        li: a(href="/projects") Våre prosjekter
                        li: a(href="/projects#waterpump") Vannpumpe
                        li: a(href="/projects#rice") Risplanting
                        li: a(href="/projects#clean-water") Rent drikkevann
                        li: a(href="/projects#waterpump") Vannpumpe
                        li: a(href="/projects#identity") Identitet
                        li: a(href="/contact") Kontakt
                        li: a(href="/support") Støtt oss
                .col-md-3.footer-content
                    h4 Følg oss
                    p: a(href="https://www.facebook.com/bluewaysorg") Facebook
                .col-md-3.footer-content
                    h4 &nbsp
                    p Designet og utviklet av Raintech.
