span.hamburger-menu
.navbar-overlay
    ul
        li: a(href="/") HJEM
        li: a(href="/about") OM OSS
        li: a(href="/projects") VÅRE PROSJEKTER
        li: a(href="/contact") KONTAKT
        //li: a(href="/news") NYHETER
        li: a(href="/member") BLI MEDLEM
        li: a(class="support-us" href="/support") GI STØTTE