nav(class=["navbar", "navbar-default", "navbar-fixed-top"])
    .container-fluid
        .navbar-header
            button(type="button" class=["navbar-button","navbar-toggle", "collapsed"])
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .language-bar
                //a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") NO
                a(href="#" class="dropdown-button") NO
                ul.dropdown-menu
                    li: a(href="#") EN
                    li: a(href="#") FR
                    li: a(href="#") NO
            .navbar-brand
                span.brand-name
                    a(href="/") BLUEWAYS
                .brand-image-container
                    img.brand-logo-transparent(src="images/logo_white.png")
                    img.brand-logo-normal(src="images/logo.png")
                

.navbar-overlay
    ul
        li: a(href="/") HJEM
        li: a(href="/about") OM OSS
        li: a(href="/projects") VÅRE PROSJEKTER
        li: a(href="/contact") KONTAKT
        //li: a(href="/news") NYHETER
        li: a(href="/member") BLI MEDLEM
        li: a(class="support-us" href="/support") GI STØTTE