<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OM OSS</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/fullpage.js/jquery.fullpage.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <span class="brand-name" >BLUEWAYS</span>
            <div class="brand-image-container">
              <img class="brand-logo-transparent" src="images/logo_white.png" alt="BLUEWAYS-LOGO">
              <img class="brand-logo-normal" src="images/logo.png" alt="BLUEWAYS-LOGO">
            </div>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">HJEM</a></li>
            <li><a href="#about">OM OSS</a></li>
            <li><a href="#projects">VÅRE PROSJEKTER</a></li>
            <li><a href="#contact">KONTAKT</a></li>
            <li><a href="#news">NYHETER</a></li>
            <li><a class="support-us" href="#support">GI STØTTE</a></li>
          </ul>
        </div>

      </div>
    </nav>

    <h1>ABOUT</h1>