extends ./layouts/base.pug

prepend content
    header
        .image-header
            img#biImage-1(src="../images/poor-boy.jpeg")
            img#biImage-2(src="../images/hands.jpeg")
    section#about
        .container
            .row
                .col-md-6
                    .section-header
                        h2 Om Organisasjonen
                    .section-body
                        p
                            |Blueways er en ikke-for-profit basert organisasjon som gjennom
                            |sitt engasjement og flere konkrete prosjekter ønsker å bidra
                            |til å bekjempe fattigdom på Madagaskar. Organisasjonen ble
                            |dannet i 2016 av en rekke ildsjeler. Den består av frivillige
                            |medlemmer med ulike evner og kunnskaper som er essensielle for
                            |organisasjonens prosjekter og visjoner. Alle prosjektene blir
                            |hovedsakelig finansiert av private donasjoner, gaver, innsamlinger
                            |og/eller frivillig innsats fra enkeltpersoner eller foretak.
                .col-md-6
                    img(class=['image-about-section', 'grow'] src="../images/image-kids.jpg" alt="Image kids Madagascar ")
    
    section#corevalues
        h2 Kjerneverdier
        p <i>Engasjement - Medmenneskelighet - Solidaritet </i>

    section#vision
                        