extends ./layouts/base.pug

prepend content
    header
        .image-header
            img#biImage-1(src="../images/poor-boy.jpeg")
            img#biImage-2(src="../images/hands.jpeg")
        hr.headerhr-primary
    section#about
        .container
            .row
                .col-md-6
                    .section-header
                        h2 Om Organisasjonen
                    .section-body
                        p
                            |Blueways er en ikke-for-profit basert organisasjon som gjennom
                            |sitt engasjement og flere konkrete prosjekter ønsker å bidra
                            |til å bekjempe fattigdom på Madagaskar. Organisasjonen ble
                            |dannet i 2016 av en rekke ildsjeler. Den består av frivillige
                            |medlemmer med ulike evner og kunnskaper som er essensielle for
                            |organisasjonens prosjekter og visjoner. Alle prosjektene blir
                            |hovedsakelig finansiert av private donasjoner, gaver, innsamlinger
                            |og/eller frivillig innsats fra enkeltpersoner eller foretak.
                .col-md-6
                    img(class=['image-about-section'] src="../images/image-kids.jpg" alt="Image kids Madagascar ")
    
    section#corevalues
        h2 Kjerneverdier
        p <i>Engasjement - Medmenneskelighet - Solidaritet </i>

    section#vision
        .container
            h2 Visjon
            p 
                | <i>Å hjelpe Madagaskar ut av fattigdom. Vi ønsker at befolkningen i byene så
                | vell som på landsbygda skal ha det bra og kunne stå på egne bein. 
                | Alle gasserne skal være stolte av sine respektive kulturelle identiteter, språk, 
                | kultur og tradisjoner.</i>
            hr
            h2 Engasjement
            .row
                .col-md-4
                    .thumbnail    
                        img(src="../images/uniform-children.jpg" alt="Uniform children")
                        span
                            | <b>IDENTITET:</b> En må kjenne sin identitet for  å kunne
                            | utvikle seg. Promotering av gassisk kultur og språk
                            | er en av våre viktige satsingsområder
                .col-md-4
                    .thumbnail
                        img(src="../images/hand.jpg" alt="Madagascar dry land")
                        span
                            | <b>UAVHENGIGHET:</b> Vi skal bidra med utstyr og
                            | opplæring slik at bønder blir selvforsynt med vann.
                            | Dette vil hjelpe dem betraktelig med å bli
                            | økonomisk selvstendig da vann er svært kostbart.
                .col-md-4
                    .thumbnail
                        img(src="../images/effectivity.jpg" alt="Madagascar dry land")
                        span
                            | <b>EFFEKTIVIGERING:</b> Effektivisering av bønder og
                            | jordbruk er også et stort statsingsområde for oss. Vi
                            | vil bidra med kunnskap om nye metoder, samt
                            | enkle men effektive utstyr.
        