<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blueways</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/fullpage.js/jquery.fullpage.min.css">
  </head>
  <body>
    <h1>heisann</h1>
    <div id="fullpage">
      <div class="section">some section</div>
      <div class="section">some section</div>
      <div class="section">some section</div>
      <div class="section">some section</div>
    </div>

    <script type="text/javascript" src="javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/fullpage.js/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-custom-plugins.js"></script>
  </body>
</html>

