<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blueways</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/fullpage.js/jquery.fullpage.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <span class="brand-name" >BLUEWAYS</span>
            <div class="brand-image-container">
              <img class="brand-logo-transparent" src="images/logo_white.png" alt="BLUEWAYS-LOGO">
              <img class="brand-logo-normal" src="images/logo.png" alt="BLUEWAYS-LOGO">
            </div>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HJEM</a></li>
            <li><a href="/about">OM OSS</a></li>
            <li><a href="/projects">VÅRE PROSJEKTER</a></li>
            <li><a href="/contact">KONTAKT</a></li>
            <li><a href="#news">NYHETER</a></li>
            <li><a class="support-us" href="#support">GI STØTTE</a></li>
          </ul>
        </div>
        
      </div>
    </nav>
    <div id="fullpage">
      <div id="hero-section" class="section">
        <span>SAMMEN GJØR VI EN FORSKJELL</span>
      </div>
      <div id="second-section" class="section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 section-content section-B">
              <a href="/projects">
                <img data-src="images/school-image.jpeg" alt="kids at school">
                <div class="image-overlay">Blueways vil gjennom flere prosjekter bidra til å bekjempe fattigdom på Madagaskar.</div>
              </a>
            </div>
            <div class="col-md-6 section-content section-A">
              <a href="#support">
                <img data-src="images/children.jpg" alt="">
                <div class="image-overlay">
                  <img class="like-icon" data-src="images/like.png" alt="">
                  INGEN KAN GJØRE ALT, MEN ALLE KAN GJØRE LITT!
                </div>
              </a>  
            </div>
          </div>
        </div>
      </div>
      <div id="third-section" class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 section-content">
              <div class="section-header">
                <h2>Litt om Madagaskar</h2>
              </div>
              <div class="section-body">
                <p>
                  Madagaskar ligger ca. 400 kilometer øst for Afrikas sørøstlige kyst og er verdens fjerde største øy.
                  Om lag 80 prosent av dyre- og planteartene på Madagaskar  finnes ikke andre steder i verden.
                  Befolkningen er på ca. 22 millioner innbyggere. 
                  På tross av at Madagaskar er rikt på naturressurser, er landets innbyggere blant verdens fattigste.
                  Rundt 80 prosent av den yrkesaktive befolkningen er sysselsatt i jordbrukssektoren.
                  Jordbruk og kvegdrift danner det viktigste inntektsgrunnlaget for størstedelen av befolkningen.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="carousel-container">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="../images/mada-dry.jpg" alt="Madagascar dry land">
                    </div>
                    <div class="item">
                      <img src="../images/mada-zebu.jpg" alt="Madagascar zebu">
                    </div>
                  </div>
                </div>
                <p>Vannmangel er et stort problem, særlig for bønder på Madagaskar.</p>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="section">
        <div class="container">
          <h2>Våre øvrige prosjekter</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="../images/mada-dry-2.jpg" alt="Madagascar dry land">
                <p>Blueways bidrar til irrigasjon for bønder på Madagaskar.</p>
                <p><a href="/projects#waterpump">Les mer</a></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="../images/rice-field.jpeg" alt="Madagascar dry land">
                <p>Blueways skal bidra med kunnskap og utstyr som tillater en mye 
                  mer effektiv metode for risplanting.</p>
                <p><a href="/projects#rice">Les mer</a></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="../images/kids-identity.jpg" alt="Madagascar dry land">
                <p>Blueways bidrar til anskaffelse av rent drikkevann.</p>
                <p><a href="/projects#cleanwater">Les mer</a></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="../images/mada-dry-2.jpg" alt="Madagascar dry land">
                <p>Blueways skal promotere for å lære gasserne til å kjenne sin egen kultur og sitt eget språk bedre.</p>
                <p><a href="/projects#identity">Les mer</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/fullpage.js/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-custom-plugins.js"></script>
  </body>
</html>

