extends ./layouts/base.pug

block content 
    #fullpage
        #hero-section.section
            span SAMMEN GJØR VI EN FORSKJELL
        #second-section.section
            .container-fluid
                .row
                    div(class=['col-md-6', 'section-content', 'section-B'])
                        a(href='/projects')
                            img(src="images/school-image.jpeg" alt="kids at school")
                            .image-overlay Blueways vil gjennom flere prosjekter bidra til å bekjempe fattigdom på Madagaskar.

                    div(class=['col-md-6', 'section-content', 'section-A'])
                        a(href='/support')
                            img(src="images/children.jpg" alt="kids having fun")
                            .image-overlay
                                img.like-icon(src="images/like.png" alt="thumbs up")
                                | INGEN KAN GJØRE ALT, MEN ALLE KAN GJØRE LITT!

        #third-section.section
            .container
                .row
                    div(class=['col-md-6', 'section-content'])
                        .section-header
                            h2 Litt om Madagascar
                        .section-body
                            p.
                                Madagaskar ligger ca. 400 kilometer øst for Afrikas sørøstlige kyst og er verdens fjerde største øy.
                                Om lag 80 prosent av dyre- og planteartene på Madagaskar  finnes ikke andre steder i verden.
                                Befolkningen er på ca. 22 millioner innbyggere. 
                                På tross av at Madagaskar er rikt på naturressurser, er landets innbyggere blant verdens fattigste.
                                Rundt 80 prosent av den yrkesaktive befolkningen er sysselsatt i jordbrukssektoren.
                                Jordbruk og kvegdrift danner det viktigste inntektsgrunnlaget for størstedelen av befolkningen.
                        img(src="../images/mada-silhouette-2-thick.svg")
                    .col-md-6
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel")
                                .carousel-inner(role="listbox" style="border: 4px solid black;")
                                    .item.active
                                        img(src="../images/mada-dry.jpg" alt="Madagascar dry land")
                                    .item
                                        img(src="../images/mada-zebu.jpg" alt="Madagascar zebu")
                            p Vannmangel er et stort problem, særlig for bønder på Madagaskar.

        #misc-projects.section
            .container-fluid
                h2 Våre øvrige prosjekter
                .row
                    .col-md-3
                        .thumbnail
                            a(href="/projects#waterpump")
                                img.grow.revealAnimation(src="../images/mada-dry-2.jpg" alt="Madagascar dry land")
                                h3 IRRIGASJON
                    
                    .col-md-3
                        .thumbnail
                            a(href="/projects#rice")
                                img.grow.revealAnimation(src="../images/rice-field.jpeg" alt="Rice field")
                                h3 RISPLANTING

                    .col-md-3
                        .thumbnail
                            a(href="/projects#clean-water")
                                img.grow.revealAnimation(src="../images/hero-image-2.jpg" alt="Children")
                                h3 RENT DRIKKEVANN
                            
                    .col-md-3
                        .thumbnail
                            a(href="/projects#identity")
                                img.grow.revealAnimation(src="../images/kids-identity.jpg" alt="Children")
                                h3 IDENTITET
            
        .section.fp-auto-height
            //- must include footer in index to integrate it with fullpage.js
            include ./layouts/footer.pug