extends ./layouts/base.pug

prepend content
    .video-header
        video(playsinline autoplay muted loop)
            source(src='../videos/waterpump.mp4', type='video/mp4')
        p Vannpumpeprosjektet
        a(href='#waterpump') LES MER
    .intersection
        h2 Veien ut av fattigdom
        blockquote
            | “Gi en mann en fisk, og han har mat for en dag. Gi en man en fiskestang og 
            | han har mat resten av livet” 
            br
            | - Lao Tseu
    .projects-section
        .container
            #waterpump.project-block
                .row
                    .col-md-6
                        img(src='../images/mada-dry-2.jpg', alt='Madagascar dry land' class=["reveal"])
                    .col-md-6
                        h3 IRRIGASJON
                        p
                            | Vannmangel er et stort problem på Madagaskar, spesielt for bønder.
                            | Kort regnsesong gir ikke tilstrekkelig med vann for jordbruk.
                            | På høylandet utgjør kunstig vannede arealer over halvparten av den dyrkede jorden.
                            | Den andre halvdelen er udyrkebar grunnet liten eller ingen vanntilgang.
                        p
                            | Blueways har i sammarbeid med lokale verksteder utviklet en vanndrevet vannpumpe.
                            | Vannpumpen bruker fornybar energi (elvevann) til å pumpe vann.
                            | Pumpen krever ingen annen kraftkilde enn den kinetiske energien som er i det
                            | strømmende elvevannet. Pumpene skal hjelpe bøndene til å distibuere/frakte vann
                            | for å fremme veksten i tørre og  høytliggende områder.
            #rice.project-block
                .row
                    .col-md-6
                        img(src='../images/rice-planting.png', alt='rice planting' class=["reveal"])
                    .col-md-6
                        h3 RISPLANTING
                        p
                            | Madagaskar er et jordbruksland. Omtrent halvparten av det dyrkede arealet på Madagaskar
                            | er tilplantet med ris, noe som gjør risdyrking delvis til en monokultur.
                            | Risplanting er fysisk hardt og tidkrevende arbeid. Under risplanteperioden er det daglig
                            | mange mennesker ute på rismarkene, og det er ofte kvinnene og barn som står for plantingen.
                        p
                            | Blueways skal i samarbeid med lokal ekspertise utvikle en risplante-maskin som vil
                            | forenkle og effektivitisere risplantingen. Med en risplate-maskin som håndteres av kun en
                            | person, vil energi og tid for et dusin mennesker satt til tilsvarende arbeid bli bespart.
                            | Dette er tid som istedet f eks kan gå til skolegang for barna.
            #clean-water.project-block
                .media
                    .col-md-6
                        img(src='../images/kids-water.jpg', alt='children playing with water' class=["reveal"])
                    .col-md-6
                        h3 RENT DRIKKEVANN
                        p
                            | Mangel på rent drikkevann har en negativ påvirkning på utdanningsmulighetene og
                            | matsikkerheten særlig for bøndene på Madagaskar. Et Blueways-prosjekt er å utvikle
                            | et system som skal kunne destillere hvilket som helst vann til drikkevann. Systemet
                            | vil være drevet av solenergi. Designet på systemet vil være enkelt og rimelig å
                            | produsere slik at selv små lokale gassiske verksteder skal kunne produsere det.
                            | Målet er at folk på landet skal bli selvforsynte med kontinuerlig rent drikkevann.
            #identity.project-block
                .media
                    .col-md-6
                        img(src='../images/kids-identity.jpg', alt='Children' class=["media-object", "reveal"])
                    .col-md-6
                        h3 IDENTITET
                        p
                            i “Man må først kjenne sin egen identitet før man vet hvilken vei han/hun skal ta”
                            |  ,
                            |               sitat fra Gisèle Rabesahala. På tross av at Madagaskar er rikt på kultur og tradisjoner
                            |               er dessverre gassere flest mindre stolt av sin identitet. Blueways skal promotere for at
                            |               gasserne skal blir bedre kjent med sin egen identitet, kultur og språk.
