<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Om Oss</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/fullpage.js/jquery.fullpage.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <span class="brand-name">BLUEWAYS</span>
            <div class="brand-image-container">
              <img class="brand-logo-transparent" src="images/logo_white.png" alt="BLUEWAYS-LOGO">
              <img class="brand-logo-normal" src="images/logo.png" alt="BLUEWAYS-LOGO">
            </div>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HJEM</a></li>
            <li><a href="/about">OM OSS</a></li>
            <li><a href="/projects">VÅRE PROSJEKTER</a></li>
            <li><a href="/contact">KONTAKT</a></li>
            <li><a href="#news">NYHETER</a></li>
            <li><a class="support-us" href="#support">GI STØTTE</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="video-header">
		<video playsinline autoplay muted loop>
    		<source src="../videos/waterpump.mp4" type="video/mp4">
		</video>
		<p>Vannpumpeprosjektet</p>
    <a href="#waterpump">LES MER</a>
	</div>
  <div class="intersection">
    <h2>Veien ut av fattigdom</h2>
    <blockquote>
       “Gi en mann en fisk, og han har mat for en dag. Gi en man en fiskestang og 
       han har mat resten av livet” <br>
       - Lao Tseu
    </blockquote>
  </div>
  <div class="projects-section">
    <div class="container">
      <div id="waterpump" class="project-block">
        <div class="media">
          <div class="media-left media-container">
            <img src="../images/mada-dry-2.jpg" alt="" class="media-object">
          </div>
          <div class="media-body">
            <h3 class="media-heading">IRRIGASJON</h3>
              <p>Vannmangel er et stort problem på Madagaskar, spesielt for bønder. 
              Kort regnsesong gir ikke tilstrekkelig med vann for jordbruk. 
              På høylandet utgjør kunstig vannede arealer over halvparten av den dyrkede jorden.
              Den andre halvdelen er udyrkebar grunnet liten eller ingen vanntilgang.
              </p>
              <p>
              Blueways har i sammarbeid med lokale verksteder utviklet en vanndrevet vannpumpe. 
              Vannpumpen bruker fornybar energi (elvevann) til å pumpe vann.        
              Pumpen krever ingen annen kraftkilde enn den kinetiske energien som er i det 
              strømmende elvevannet. Pumpene skal hjelpe bøndene til å distibuere/frakte vann 
              for å fremme veksten i tørre og  høytliggende områder.</p>
          </div>
        </div>
      </div>
      <div id="waterpump" class="project-block">
        <div class="media">
          <div class="media-left media-container">
            <img src="../images/rice-planting.png" alt="" class="media-object">
          </div>
          <div class="media-body">
            <h3 class="media-heading">RISPLANTING</h3>
            <p>
              Madagaskar er et jordbruksland. Omtrent halvparten av det dyrkede arealet på Madagaskar 
              er tilplantet med ris, noe som gjør risdyrking delvis til en monokultur.
              Risplanting er fysisk hardt og tidkrevende arbeid. Under risplanteperioden er det daglig 
              mange mennesker ute på rismarkene, og det er ofte kvinnene og barn som står for plantingen.  
            </p>  
            <p>Blueways skal i samarbeid med lokal ekspertise utvikle en risplante-maskin som vil 
              forenkle og effektivitisere risplantingen. Med en risplate-maskin som håndteres av kun en 
              person, vil energi og tid for et dusin mennesker satt til tilsvarende arbeid bli bespart. 
              Dette er tid som istedet f eks kan gå til skolegang for barna.</p>
          </div>
        </div>
      </div>
      <div id="waterpump" class="project-block">
        <div class="media">
          <div class="media-left media-container">
            <img src="../images/kids-water.jpg" alt="" class="media-object">
          </div>
          <div class="media-body">
            <h3 class="media-heading">RENT DRIKKEVANN</h3>
            <p>
              Mangel på rent drikkevann har en negativ påvirkning på utdanningsmulighetene og 
              matsikkerheten særlig for bøndene på Madagaskar. Et Blueways-prosjekt er å utvikle
              et system som skal kunne destillere hvilket som helst vann til drikkevann. Systemet 
              vil være drevet av solenergi. Designet på systemet vil være enkelt og rimelig å 
              produsere slik at selv små lokale gassiske verksteder skal kunne produsere det.
              Målet er at folk på landet skal bli selvforsynte med kontinuerlig rent drikkevann.</p>
          </div>
        </div>
      </div>
      <div id="waterpump" class="project-block">
        <div class="media">
          <div class="media-left media-container">
            <img src="../images/kids-identity.jpg" alt="" class="media-object">
          </div>
          <div class="media-body">
            <h3 class="media-heading">IDENTITET</h3>
            <p>
              <i>“Man må først kjenne sin egen identitet før man vet hvilken vei han/hun skal ta”</i> , 
              sitat fra Gisèle Rabesahala. På tross av at Madagaskar er rikt på kultur og tradisjoner 
              er dessverre gassere flest mindre stolt av sin identitet. Blueways skal promotere for at 
              gasserne skal blir bedre kjent med sin egen identitet, kultur og språk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript" src="javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/fullpage.js/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-custom-plugins.js"></script>
  </body>
</html>