extends ./layouts/base.pug
block variables
    - var lang = 'EN'
prepend content
    .response-block(style="height: 80vh; padding-top: 20vh; background-color: #c7e7f0;")
        .center-block(style="")
            h1 Thank you for contacting us!
            p Thank you for the email. We try to respond as soon as possible.