extends ../layouts/base.pug
block variables
    - var lang = 'EN'
prepend content
    #news
        header
            h1 News
        hr.headerhr-primary
        img(src=("images/triangle-tertiary-darker.svg") class=["triangle", "center-block"])
        .container
            .row
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="images/news/barnehjem1.jpeg")
                                    each val in [2,3,4,5,6,7]
                                        .item
                                            img(src="images/news/barnehjem"+val+".jpeg")
                        .caption
                            h3 Tafita orphanage
                            i (Antananarivo des. 2016)
                            p One member of Blueways worked as a volonteer at Tafita orphanage in Antananarivo desember 2016. 
                                |She taught the children about the norwegian culture and about the life in Norway.
                                |The children also got to learn some norwegian games and songs.
                                |At the end for her stay she handed out some donated clothes and toys for the children, which they really appreciated.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="images/news/water1.jpeg")
                                    each val in [2,3,4,5,6]
                                        .item
                                            img(src="images/news/water"+val+".jpeg")
                        .caption
                            h3 Water pump - Inspection
                            i (Tsironomandidy nov. 2016)
                            p Blueways toghether with local authorities, inspected the area where the water pumps will be installed.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="images/news/skolebenk1.jpeg")
                                    each val in [2,3,4,5,6,7,8]
                                        .item
                                            img(src="images/news/skolebenk"+val+".jpeg")
                        .caption
                            h3 Marolaona
                            i (Tsironomandidy nov. 2016)
                            p
                                |Blueways would like to thank everyone who participated in purchasing 
                                |sanitary paper and donating during the campaign in september 2016.
                                |With the donations and proceeds, we were able to provide the children at Marolaona elementary school with new school benches.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        a(href="https://www.youtube.com/watch?v=fAAFNz7riGs")
                            img.youtube(src="images/news/youtube.png")
                        .caption
                            h3 Water pump - Prototype
                            i (Bergen okt. 2016)
                            p We have developed and tested the prototype of the water driven pump in week 40.
                                |The test result showed that the pump could pump 18 liter of water per minute, (26.000liter/day), until 80 meters in altitude.
                                |The next step is to put the pumps in production. We're going to produce 3 identical pumps in Madagascar.
                                |The pumps are then going to be installed in a pilot village.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        img(src="images/news/dorull.jpeg")
                        .caption
                            h3 Communal work - Sanitary paper sale
                            i (Bergen sep. 2016)
                            p We did a sanitary paper sale in week 37.
                                |The proceeds will be donated to provide school benches for an elementary school in Madagascar.
                                |We would like to thank the all volunteers who did a great job.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="images/news/pant1.jpeg")
                                    .item
                                        img(src="images/news/pant2.jpeg")
                        .caption
                            h3 Communal work - Bottle recycling
                            i (Bergen aug. 2016)
                            p Members of Blueways worked on recycling plastic bottles in week 32. It was a successful communal work.
                                |Thank to the volunteers for their good efforts and their big engagement.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="images/news/vask1.jpeg")
                                    each val in [2,3]
                                        .item
                                            img(src="images/news/vask"+val+".jpeg")
                        .caption
                            h3 Communal work - Kindergarten cleaning
                            i (Bergen jul. 2016)
                            p Blueways did a communal work in cleaning a kindergarten in Bergen on 22. july - 24. july 2016.
                                | The proceeds will be donated to prepare for the school start for an elementary school in Madagascar.

