extends ../layouts/base.pug
block variables
    - var lang = 'EN'
prepend content
    header
        .image-header
            img(src="images/kids-water.jpg")
    .intersection
        h2 The way out of poverty
        blockquote
            | “Give a man a fish and he will have food for a day. 
            | Give a man a fishing rod and he will have food for life” 
            br
            | - Lao Tseu
    .projects-section
        .container
            #waterpump.project-block
                .row
                    .col-md-6
                        img(src='images/mada-dry-2.jpg', alt='Madagascar dry land' class=["reveal"])
                    .col-md-6
                        h3 IRRIGATION
                        p
                            | Water shortage is a major problem in Madagascar, especially for farmers. 
                            | The short rainy season does not provide enough water for agriculture.
                            | In the highlands, irrigated areas constitute over half the cultivated land. 
                            | The second half is infertile due to little or no access to water.
                        p
                            | Blueways has, in cooperation with local companies, developed Water driven 
                            | water pumps. The pumps will help farmers to be able to distribute water to dry areas.
                            | This pump requires no other power source than the kinetic energy in the flowing river water.
            #rice.project-block
                .row
                    .col-md-6
                        img(src='images/rice-planting.png', alt='rice planting' class=["reveal"])
                    .col-md-6
                        h3 RICE PLANTING
                        p
                            | Madagascar is an agricultural country. About half of the cultivated area in Madagascar 
                            | is planted with rice, making rice cultivation more or less a monoculture.
                            | Rice planting is a physically demanding and time consuming work. During the rice planting 
                            | period, many people are out on the rice fields daily. It is mostly women and children who do the planting.
                        p
                            | In cooperation with local expertise, Blueways will develop a rice planting machine which will simplify
                            |  and improve the efficiency of rice planting. Such a machine only needs one person to operate it. The 
                            | time and energy of a dozen people who would otherwise be doing similar work will be saved. Instead, 
                            | this time, for the children for example, can be used to attend school.
            #clean-water.project-block
                .media
                    .col-md-6
                        img(src='images/water.jpg', alt='children playing with water' class=["reveal"])
                    .col-md-6
                        h3 CLEAN DRINKING WATER
                        p.
                            Lack of clean drinking water has a negative impact on educational opportunities and food security, 
                            especially for farmers in Madagascar. One of Blueways’ projects is to develop a system that will be 
                            able to distill any water for drinking. The system will be powered by solar energy.
                            The design of the system will be easy and inexpensive to produce so that even small local Malagasy 
                            workshops will be able to produce it.
                            The aim is that people in the countryside will be continuously self sustained with clean drinking water.
            #identity.project-block
                .media
                    .col-md-6
                        img(src='images/kids-identity.jpg', alt='Children' class=["media-object", "reveal"])
                    .col-md-6
                        h3 IDENTITY
                        blockquote <i> “One must first know ones own identity before one will know which way he / she should take.” </i><br> - Gisèle Rabesahala
                        p.
                            Despite the fact that Madagascar is rich in culture and traditions, 
                            unfortunately most Malagasy people are less proud of their identity. Blueways will encourage the Malagasy people 
                            to become better acquainted with their own identity, culture and language.