extends ../layouts/base.pug
block variables
    - var lang = 'FR'
prepend content
    header
        .image-header
            img#biImage-1(src="images/poor-boy.jpeg")
            img#biImage-2(src="images/hands.jpeg")
        hr.headerhr-primary
    section#about
        .container
            .row
                .col-md-6.section-content
                    .section-header
                        h2 Sur l'organisation
                    .section-body
                        p.
                            Blueways est une organisation à but non lucratif qui, à travers plusieurs projets 
                            spécifiques, souhaite lutter contre la pauvreté à Madagascar. L'organisation a été 
                            créée en 2016 par des volontaires enthousiastes. Elle est constituée de membres 
                            et de bénévoles dotés de compétences variées et essentielles pour l'élaboration des 
                            projets et pour la vision de l'association. Tous les projets sont principalement 
                            financés par des donations, des collectes de fonds et des  
                            engagements individuels ou d'entreprises. 
                .col-md-6
                    .carousel-container
                        #carousel-slider.carousel.slide(data-ride="carousel")
                            .carousel-inner(role="listbox" style="border: 4px solid black;")
                                .item.active
                                    img(src="images/image-kids.jpg" alt="Madagascar dry land")
                                .item
                                    img(src="images/image-kids.jpg" alt="Madagascar zebu")
    
    section#corevalues
        h2 Valeur Fondamentales
        p <i>Engagement - Compassion - Solidarité </i>
        p <i> "Fihavanana" </i>

    section#vision
        .container
            h2 Vision
            p 
                | <i> Nous souhaitons aider Madagascar à sortir de la pauvreté.
                | Nous souhaitons le bien-être de la population urbaine et rurale. 
                | Nous souhaitons qu'ils soient satisfaits et en mesure d’être autonomes.  
                | Notre objectif est que tous les Malgaches soient fiers de leurs identités culturelles,  
                | de leur langue et leurs dialectes, de leurs cultures et de leurs traditions.</i>
            hr
            h2 Engagement
            .row
                .col-sm-4
                    .thumbnail    
                        img(src="images/uniform-children.jpg" alt="Uniform children")
                        span
                            | <b>IDENTITÉ:</b> Il faut connaître sa propre identité afin de pouvoir évoluer. 
                            | La promotion de la culture et de la langue malgache est l'un de nos principaux domaines d'intervention.
                .col-sm-4
                    .thumbnail
                        img(src="images/hand.jpg" alt="Madagascar dry land")
                        span
                            | <b>INDÉPENDANCE:</b> Nous allons fournir des 
                            | équipements et formations pour aider les 
                            | agriculteurs à devenir autonomes. 
                .col-sm-4
                    .thumbnail
                        img(src="images/effectivity.jpg" alt="Madagascar dry land")
                        span
                            | <b>EFFICACITÉ:</b> L'efficacité des agriculteurs et de l'agriculture fait également partie de nos 
                            | préoccupations. Nous contribuerons à la recherche et l'enseignement de nouvelles 
                            | méthodes, ainsi qu'à l'installation d'équipements simples mais efficaces.
        