extends ../layouts/base.pug
block variables
    - var lang = 'FR'
prepend content
    header
        .image-header
            img(src="../images/children-school.jpg")
        hr.headerhr-primary
    #contact-body
        .container
            .form-container
                .form-container-header
                    h1 NOUS CONTACTER
                    p N'hésitez pas à nous contacter si vous souhaitez obtenir davantage d'information sur l'organisation, nos projets ou pour tout autre question.
                .form-container-body
                    .form-layout
                        .form-header
                            h2 CONTACTEZ NOUS
                            hr
                        .form-body
                            form(action="/mail/send" method="POST")
                                .row
                                    .col-md-6
                                        label.form-requires-symbol(for="name") Nom
                                        input#name(type="text" name="name" required)
                                    .col-md-6
                                        label.form-requires-symbol(for="email") E-mail
                                        input#email(type="email" name="email" required)
                                .row
                                    .col-md-6
                                        label(for="mobile") Téléphone
                                        input#mobile(type="number" name="mobile")
                                    .col-md-6
                                        label(for="subject") Objet
                                        input#subject(type="text" name="subject")
                                .textarea-container
                                    p.form-requires-symbol Message
                                    textarea#name(rows="7" name="message" required)
                                input#submitbutton(type="submit" value="Envoyer")



