extends ../layouts/base.pug
block variables
    - var lang = 'FR'
block content 
    #fullpage
        #hero-section.section
            span ENSEMBLE, BÂTISSONS NOTRE AVENIR
        #second-section.section.fp-auto-height-responsive
            .container-fluid
                .row
                    div(class=['col-sm-6', 'section-content', 'section-B'])
                        a(href='/fr/projects')
                            img(src="images/school-image.jpeg" alt="kids at school")
                            .image-overlay Blueways souhaite contribuer à la lutte contre la pauvreté à Madagascar à travers divers projets.

                    div(class=['col-sm-6', 'section-content', 'section-A'])
                        a(href='/fr/support')
                            img(src="images/children.jpg" alt="kids having fun")
                            .image-overlay
                                img.like-icon(src="images/like.png" alt="thumbs up")
                                | PERSONNE NE PEUT TOUT FAIRE, MAIS TOUT LE MONDE PEUT FAIRE QUELQUE CHOSE!

        #third-section.section.fp-auto-height-responsive
            .container
                .row
                    div(class=['col-md-6', 'section-content'])
                        .section-header
                            h2 À propos de Madagascar
                        .section-body
                            p.
                                Situé à environ 400 kilomètres à l'est de la côte sud-est de l'Afrique, 
                                Madagascar est la quatrième plus grande île au monde avec environ 22 millions d'habitants. 
                                Environ 80 % des espèces animales et végétales ne peuvent être trouvées nulle part ailleurs 
                                dans le monde. Malgré le fait que Madagascar soit riche en ressources naturelles, sa 
                                population est une des plus pauvres du monde. Environ 80% de la population active est 
                                employée dans le secteur agricole ; l'agriculture et l'élevage constituent la principale source 
                                de revenus pour la plupart de la population.
                        img(src="../images/mada-silhouette-2-thick.svg")
                    .col-md-6
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel")
                                .carousel-inner(role="listbox" style="border: 4px solid black;")
                                    .item.active
                                        img(src="../images/mada-dry.jpg" alt="Madagascar dry land")
                                    .item
                                        img(src="../images/mada-zebu.jpg" alt="Madagascar zebu")
                            p La pénurie d'eau est un problème majeur, en particulier pour les agriculteurs.
        #misc-projects.section.fp-auto-height-responsive
            .container-fluid
                h2 Nos projets
                .row
                    .col-md-3.col-sm-6
                        .thumbnail
                            a(href="/fr/projects#waterpump")
                                img.grow.revealAnimation(src="../images/mada-dry-2.jpg" alt="Madagascar dry land")
                                h3 IRRIGATION
                    
                    .col-md-3.col-sm-6
                        .thumbnail
                            a(href="/fr/projects#rice")
                                img.grow.revealAnimation(src="../images/rice-field.jpeg" alt="Rice field")
                                h3 PLANTATION DE RIZ

                    .col-md-3.col-sm-6
                        .thumbnail
                            a(href="/fr/projects#clean-water")
                                img.grow.revealAnimation(src="../images/hero-image-2.jpg" alt="Children")
                                h3 EAU POTABLE
                            
                    .col-md-3.col-sm-6
                        .thumbnail
                            a(href="/fr/projects#identity")
                                img.grow.revealAnimation(src="../images/kids-identity.jpg" alt="Children")
                                h3 IDENTITÉ
            
        .section.fp-auto-height
            //- must include footer in index to integrate it with fullpage.js
            include ../layouts/footer.pug