extends ../layouts/base.pug
block variables
    - var lang = 'FR'
prepend content
    #news
        header
            h1 Actualité
        hr.headerhr-primary
        img(src=("../images/triangle-tertiary-darker.svg") class=["triangle", "center-block"])
        .container
            .row
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="../images/news/barnehjem1.jpeg")
                                    each val in [2,3,4,5,6,7]
                                        .item
                                            img(src="../images/news/barnehjem"+val+".jpeg")
                        .caption
                            h3 L'orphelinat de Tafita
                            i (Antananarivo des. 2016)
                            p En décembre 2016, un membre de Blueways a travaillé volontairement à l'orphelinat de Tafita, 
                                |à Antananarivo. Elle a présenté aux enfants la culture et le mode de vie norvégien. Ils ont 
                                |également pu apprendre des chansons et des jeux norvégiens. À l'issu de sa mission, elle leur 
                                |a remis des donations  récupérés, notamment des vêtements et des jouets. Les enfants de l'orphelinat 
                                |ont été ravis.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="../images/news/water1.jpeg")
                                    each val in [2,3,4,5,6]
                                        .item
                                            img(src="../images/news/water"+val+".jpeg")
                        .caption
                            h3 Le projet de pompe à eau - Contrôle
                            i (Tsironomandidy nov. 2016)
                            p En coopération avec les autorités locales, Blueways a examiné la zone où sera installée la pompe à eau.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="../images/news/skolebenk1.jpeg")
                                    each val in [2,3,4,5,6,7,8]
                                        .item
                                            img(src="../images/news/skolebenk"+val+".jpeg")
                        .caption
                            h3 Marolaona
                            i (Tsironomandidy nov. 2016)
                            p
                                |Blueways souhaite remercier toutes les personnes qui ont participé de 
                                |près ou de loin  à la vente de papier hygiénique et celles qui ont effectué 
                                |des dons lors de l'opération de septembre 2016. Grâce aux fonds recueillis 
                                |nous avons pu fournir de nouveaux bancs aux élèves de l'école primaire de 
                                |Marolaona.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        a(href="https://www.youtube.com/watch?v=fAAFNz7riGs")
                            img.youtube(src="images/news/youtube.png")
                        .caption
                            h3 Le projet de pompe à eau - Prototype
                            i (Bergen okt. 2016)
                            p Nous avons développé et testé le prototype de la pompe à eau lors de la semaine
                                |du 3 au 9 octobre. Les résultats observés ont traduit une capacité de transport
                                |de 18 litres d'eau par minute (26 000 litres par jour) jusqu'à 80 mètres en
                                |altitude. L'étape suivante est la production de ce type de pompe. Nous comptons
                                |produire 3 pompes identiques à Madagascar.
                                |Celles-ci seront installées dans une ville où sera mené le projet pilote.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        img(src="images/news/dorull.jpeg")
                        .caption
                            h3 Succès de la vente de papier hygiénique
                            i (Bergen sep. 2016)
                            p Nous avons effectué une vente de papier hygiénique lors de la semaine du 12 au 18 septembre. 
                                |Les fonds vont permettre de fournir des bancs à une école primaire de Madagascar. Nous souhaitons 
                                |remercier tous les volontaires qui ont fait un travail remarquable.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="../images/news/pant1.jpeg")
                                    .item
                                        img(src="../images/news/pant2.jpeg")
                        .caption
                            h3 Succès de la consignations de bouteilles
                            i (Bergen aug. 2016)
                            p Les membres de Blueways ont collecté des bouteilles consignées, lors de la semaine du 8 au 14 août, 
                                |ce qui s'est avéré être un franc succès. Nous remercions tous les volontaires pour leur engagement et leurs efforts.
                .col-sm-6.col-md-4.news-container
                    .thumbnail
                        .carousel-container
                            #carousel-slider.carousel.slide(data-ride="carousel" data-interval="5000")
                                .carousel-inner(role="listbox")
                                    .item.active
                                        img(src="../images/news/vask1.jpeg")
                                    each val in [2,3]
                                        .item
                                            img(src="../images/news/vask"+val+".jpeg")
                        .caption
                            h3 Succès du nettoyage d'une école maternelle
                            i (Bergen jul. 2016)
                            p Blueways a effectué un travail remarquable en nettoyant une école maternelle de Bergen du 22 au 24 juillet 2016. 
                                |Les fonds récoltés seront dédiés à la préparation de la rentrée scolaire d'une école maternelle à Madagascar.

