extends ../layouts/base.pug
block variables
    - var lang = 'FR'
prepend content
    header
        .image-header
            img(src="images/kids-water.jpg")
    .intersection
        h2 Un chemin pour sortir de la pauvreté
        blockquote
            | “Si tu donnes un poisson à un homme, il mangera un jour. 
            | Si tu lui apprends à pêcher, il mangera toujours” 
            br
            | - Lao Tseu
    .projects-section
        .container
            #waterpump.project-block
                .row
                    .col-md-6
                        img(src='images/mada-dry-2.jpg', alt='Madagascar dry land' class=["reveal"])
                    .col-md-6
                        h3 IRRIGATION
                        p.
                            La pénurie d'eau est un problème majeur à Madagascar, en particulier pour les agriculteurs.
                            La courte saison des pluies ne fournit pas assez d'eau pour l'agriculture.
                            Dans les hautes terres, les zones irriguées constituent plus de la moitié des 
                            terres cultivées. La seconde moitié est infertile en raison d’un manque d’accès à l’eau.
                            
                        p.
                            En coopération avec des entreprises locales, Blueways compte développer des 
                            béliers hydrauliques de pompage d’eau qui ne requièrent ni électricité ni pétrole. Ces pompes permettront 
                            d'aider les agriculteurs à la distribution d’eau dans les zones sèches. Il s'agit d'un type de pompe qui ne nécessite
                            que de l'énergie cinétique de l'eau d'une rivière.
            #rice.project-block
                .row
                    .col-md-6
                        img(src='images/rice-planting.png', alt='rice planting' class=["reveal"])
                    .col-md-6
                        h3 PLANTATION DE RIZ
                        p.
                            Madagascar est un pays agricole. Environ la moitié de la superficie cultivée 
                            sont des rizières. Il s’agit donc plus ou moins d’une monoculture du riz.
                            La plantation de riz exige beaucoup d’investissements physiques et en temps. 
                            Durant la période de plantation, beaucoup de gens sont sollicités journalièrement dans les rizières,
                            majoritairement des femmes et des enfants.
                        p.
                            En coopération avec l'expertise locale, Blueways développera une méthode à planter 
                            le riz qui simplifiera et améliorera l'efficacité de la plantation. Une telle machine 
                            ne nécessite qu'une seule personne. De ce fait, le travail ne mobilisera plus le temps 
                            et l'énergie d'une douzaine de personnes. Les enfants, par exemple, pourront aller à l'école.
            #clean-water.project-block
                .media
                    .col-md-6
                        img(src='images/water.jpg', alt='children playing with water' class=["reveal"])
                    .col-md-6
                        h3 EAU POTABLE
                        p.
                            Le manque d'eau potable a un impact négatif sur l’éducation et la sécurité alimentaire, 
                            en particulier pour les agriculteurs. L'un des projets de Blueways est de développer un 
                            système capable de distiller de l'eau qui sera donc potable. Le système sera alimenté par 
                            l'énergie solaire. Sa conception sera facile et sa production de faible coût, ainsi
                            même les petits ateliers locaux malgaches seront en mesure de le produire.
                            L'objectif est que la population rurale ait continuellement accès à l'eau potable.
            #identity.project-block
                .media
                    .col-md-6
                        img(src='images/kids-identity.jpg', alt='Children' class=["media-object", "reveal"])
                    .col-md-6
                        h3 IDENTITÉ
                        blockquote <i> "Si on ne sait pas d’où on vient, on ne sait pas où on va”</i><br> - Gisèle Rabesahala
                        p.
                            Malgré le fait que Madagascar soit riche en cultures et traditions, la plupart des Malgaches sont 
                            malheureusement moins fiers de leur identité. Blueways souhaite encourager le peuple malgache à mieux 
                            connaître son identité, sa culture et sa langue.