#about {
    background-color: $tertiary-color;
    padding-bottom: 60px;

   .image-about-section {
       height: 400px;
       margin-top: 30vh;
       margin-left: 55px;
       filter: sepia(70%);
   }
}


.grow { 
    @include transition(all, $transition-duration); 
}
.grow:hover { 
    transform: scale(1.1); 
}
    