#about {
    background-color: $tertiary-color;
    height: 180vh;

   .image-about-section {
       height: 400px;
       margin-top: 30vh;
       margin-left: 55px;
       filter: sepia(70%);
   }
}

.image-header {
    height: 70vh;
    width: 100vw;
    position: relative;

    img {
       height: 100vh;
       width: inherit;
       object-fit: cover;
       position: fixed;
       z-index: -5;
    }
}

#corevalues {
    background-color: $secondary-color-darker-transparent-09;

    h2, p {
        text-align: center;
        margin: 0;
    }

    h2 {
        font-size: 15vw;
        padding-top: 80px;
        color: $primary-color-darker;
    }

    p {
        margin-top: 30px;
        font-size: 10vw;
        padding-bottom: 80px;
        color: $tertiary-color;
    }
}

#vision {
    background-color: $secondary-color-darker;
    text-align: center;

    h2 {
        font-size: 10vw;
        color: $primary-color;
        display: inline-block;
        margin-top: 60px;
        border-bottom: 3px solid $primary-color;
        padding: 0 15px 15px;
    }

    p {
        margin: 20px 0 80px;
        font-size: 7vw;
        line-height: 1.8em;
        text-align: center;
    }

    .thumbnail {
        position: relative;
        background-color: $secondary-color-darker;
        border: none;
        font-size: 1em;
        z-index: 2;
        padding: 50px 20px;

        img {
            width: 320px;
            height: 240px;
            margin-bottom: 10px;
        }

        span {
            color: #595959;

        }
    }

}

#biImage-2 {
    display: none;
}


.grow { 
    @include transition(all, $transition-duration); 
}
.grow:hover { 
    transform: scale(1.1); 
}
    