#contact-body {
    background-color: #fff;
    .form-container {
        .form-container-header {
            margin-top: 15vh;
            text-align: center;

            h1 {
                padding: 0 25px 15px;
                font-size: 3em;
                font-weight: 900;
                color: $primary-color;
                border-bottom: 3px solid $primary-color;
                display: inline-block;
            }
            
            p {
                margin-top: 15px;
                font-size: 1.3em;            
            }
        }

        .form-container-body {
            border: 1px solid #dddddd;
            box-shadow: 0px 0px 0 5px #f5f5f5;
            border-radius: 10px;
            max-width: 750px; 
            margin: 100px auto 100px;

            .form-header {
                h2 {
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: 900;
                    color: $primary-color;
                }

                hr {
                    border-top-color: #dddddd;
                }
            }

            .form-body {
                .row {
                    margin: 0;
                }
                
                input:not(#submitbutton) {
                    width: 100%;
                    height: 45px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 1.2em;
                    padding: 10px;
                }
                    
                .textarea-container {
                    margin: 0 15px;
                    textarea {
                        width: 100%;
                        border: 1px solid #dddddd;
                        border-radius: 5px;
                        font-size: 1.3em;
                    }

                    p {
                        font-weight: 600;
                    }
                }

                #submitbutton {
                    margin: 20px 15px;
                    background-color: $primary-color;
                    color: $secondary-color;
                    padding: 10px 40px;
                    border-radius: 5px;
                    font-size: 1.3em;
                    border: 1px solid;
                }

                #submitbutton:active {
                    background-color: $secondary-color;
                    color: $primary-color;
                }



                input:focus, textarea:focus {
                    outline: none;
                    box-shadow: 0px 0px 0 5px #f5f5f5;
                }
            }
        }

        .form-requires-symbol::after {
            content: '*';
            color: red;
        }
    }
}
