/* put custom sass here */

body {
    font-family: $main-font-family;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#hero-section {
    background: url("../images/children_sea.jpg") no-repeat;
    background-size: cover;
    background-position:center center;
    text-align: center;
    font-size: 4.5vw;
    color: #FFF;
}

.section-content {
    height: 100vh;
}

#second-section {
    .section-content {
        img:not(.like-icon) {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .section-A {
        padding: 0;

        .image-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $primary-color-darker-transparent;
            @include transition(background-color, $transition-duration);

            text-align: center;
            font-size: 2.5em;
            color: #fff;
            padding: 260px 50px;

            .like-icon {
                height: 130px;
                display: block;
                margin: 30px auto;
            }

        }

        .image-overlay:hover {
            background-color: $primary-color-darker;
        }
    }

    .section-B {
        background-color: $tertiary-color;
        position: relative;
        padding: 0;

        .image-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $secondary-color-darker-transparent;
            @include transition(background-color, $transition-duration);

            text-align: center;
            font-size: 2.6em;
            color: #fff;
            padding: 50vh 30px;
        }

        .image-overlay:hover {
            background-color: $secondary-color-darker;
        }
    }
}

#third-section {
    background-color: $tertiary-color;

    .section-content {
        position: relative;

        img {
            position: absolute;
            top: 70px;
            left: -80px;
            height: 85%;
            z-index: 0;
        }
    }
}

.section-header {
    position: relative;
    height: 25vh;
    width: 350px;
    border-bottom: 2px solid $primary-color-darker;
    margin-bottom: 30px;
    z-index: 2;

    h2 {
        position: absolute;
        bottom: 15px;
        color: $primary-color;
        font-size: 2.5em;
        
    }
}

.section-body {
    text-align: justify;
    font-size: 1.7em;
    line-height: 1.9em;
    z-index: 501;
    position: absolute;
}


.carousel-container {
    margin-top: 35vh;
    margin-left: 70px;

    p {
        margin-top: 15px;
    }

}

#misc-projects {
    background-color: $secondary-color-darker;
    text-align: center;

    h2 {
        margin-bottom: 70px;
        padding: 0 15px 15px;
        font-size: 3em;
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    a {
        text-decoration: none;
    }

    .thumbnail {
        position: relative;
        background-color: $secondary-color-darker;
        border: none;
        font-size: 1.5em;
        text-align: center;
        z-index: 2;

        img {
            width: 320px;
            height: 240px;
            filter: grayscale(70%);
        }

        h3 {
            color: #000;
            margin-top: 20px;
        }

        .revealAnimation {
            opacity: 0;
        }
        
    }

    .thumbnail:hover {
        img {
            //@include blur-filter(5px);
            filter: grayscale(0%);
        }

        h3 {
            color: $primary-color-darker;
            font-weight: 600;
        }   
    }

    
}

footer {
    background-color: $primary-color-darker;
    color: $tertiary-color-darker;

    h4 {
        color: $tertiary-color;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    ul {
        padding: 0;
        @include listcolumns(2);
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    a {
        color: $tertiary-color-darker;
        text-decoration: none;
    }

    a:hover, a:focus {
        text-decoration: none;
    }

    .footer-content {
        padding: 25px;
    }
}

.headerhr-primary {
    margin: 0;
    border-top: 8px solid $tertiary-color-darker;
}

.triangle {
    height: 20px;
    background-color: $tertiary-color;
    width: 100%;
}

#supportpage {
    background: $tertiary-color;

    .col-md-6:first-child {
        border-right: 4px solid $tertiary-color-darker;
    }

    .col-md-6 {
        margin: 65px 0;
    }

    .col-md-6:last-child {
        p {
            margin-top: 110px;
            font-size: 2em;
            text-align: center;
        }

        ul {
            padding-left: 100px;
            @include listcolumns(2);

            li {
                list-style-type: none;
                font-size: 1.5em;
            }
        }

        img {
            width: 350px;
            position: absolute;
            top: 25vh;
            left: 25vh;
        }

        .content {
            padding: 0 50px;
            z-index: 10;
            position: relative;

            table {
                margin: 50px auto 0;
                

                th {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 400;
                    padding: 0 125px;
                }

                td {
                    text-align: center;
                    font-size: 2.5em;
                    font-weight: 900;
                }
            }

            span {
                text-align: center;
                display: block;
                font-size: 2.3em;
                margin: 25px 0;
                font-weight: 600;
            }
        }
    }

    .section-header {
        font-size: 1.5em;
        margin-left: 50px;
        height: 20vh;
    }

    .section-body {
        height:  100%;
        position: relative;
        margin-top: 0px;
        padding: 0 50px;

        p.upper {
            text-align: left;
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }
    }
}



