/* put custom sass here */

body {
    font-family: $main-font-family;
}

.navbar-default {
    @include transition(background-color, $transition-duration);
}

.navbar-default.transform-navbar {
    background: #fff;

    .navbar-header {
        .brand-image-container {

            .brand-logo-normal {
                opacity: 1;
            }
        }
    }

    

    #navbar {
        a {
            color: $secondary-color-darker;
            padding-top: 20px;
        }

        a.support-us { 
            padding: 10px 20px;
            margin: 10px 30px 5px 20px;
        }

        a:hover {
            color: $primary-color-darker;
        }
    }
    
}

.navbar {
    z-index: $zindex-navbar;

    #navbar {
        a {
            font-size: 1.2em;
            padding-top: 35px;
            @include transition(padding-top, $transition-duration);
        }

        a:hover {
            color: $secondary-color-darker;
        }

        a.support-us {
            background-color: $primary-color;
            border: 1px solid;
            border-radius: 4px;
            padding: 15px 35px;
            margin: 20px 30px 0 30px;
        }

        a.support-us:hover {
            background-color: $secondary-color-darker;
            color: $primary-color;
        }
    }
    

    

    .navbar-header {
    
        .navbar-brand {
            position: relative;
            padding: 0;
            margin-left: 100px;
            margin-top: 5px;

            .brand-name {
                position: absolute;
                top: 30px;
                left: 90px;
                font-size: 1.5em;
                @include transition(top, $transition-duration);
            }
        }

        .brand-image-container {
                height: 50px;
                position: relative;

                img {
                    height: 100%;
                    position: absolute;
                }

                .brand-logo-normal {
                    opacity: 0;
                    @include transition(opacity, $transition-duration);
                }
            }
    }
}







#hero-section {
    background: url("../images/hero-image-2.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 4.5vw;
    color: #FFF;

    span {
        position: absolute;
        top: 350px;
        left: 250px;
    }
}

#second-section {
    
    .second-section-content {
        height: 100vh;
    }

    .section-A {
        padding: 0;

        .image-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $primary-color-darker-transparent;
            @include transition(background-color, $transition-duration);

            text-align: center;
            font-size: 2.5em;
            color: #fff;
            padding: 260px 50px;

            .like-icon {
                height: 130px;
                display: block;
                margin: 30px auto;
            }

        }

        .image-overlay:hover {
            background-color: $primary-color-darker;
        }
    }

    .section-B {
        background-color: $tertiary-color;
        position: relative;
        padding: 0;

        .image-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $secondary-color-darker-transparent;
            @include transition(background-color, $transition-duration);

            text-align: center;
            font-size: 2.6em;
            color: #fff;
            padding: 50vh 30px;
        }

        .image-overlay:hover {
            background-color: $secondary-color-darker;
        }
    }
}




