.hamburger-menu {
    z-index: 9999;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 35px;
    height: 4px;
    background: #ffffff;
    cursor: pointer;

    &:before, &:after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    height: 4px;
    width: 35px;
    background: #ffffff;
    }

    &:before {
    top: -8px;
    }

    &:after {
    bottom: -8px;
    }
}

.navbar-overlay {
    position: fixed;
    z-index: 9998;
    bottom: -99%;
    height: 100%;
    background: #30C4C9;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;

    &.anim {
        left: 0;
        bottom: 0;
        animation: menu-anim 1s 1 ease-out normal;
        width: 25%;
        transition: all 0.5s ease;

        &.reverse-anim {
            left: 0;
            bottom: 0;
            animation: menu-anim 1s 1 ease-out reverse;
            width: 25%;
            transition: all 0.5s ease;
        }
    }

    ul {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        padding-left: 0;
        margin-left: -10px;
        font-size: 2em;
        font-weight: 800;

        li {
            margin: 10px 0;

            a {
                text-decoration: none;
                color: white;
                position: relative;
                display: inline-block;
                padding: 10px 0;
                overflow: hidden;

                &:after {
                    display: block;
                    border-radius: 2px;
                    content: ''; 
                    left: 0;
                    bottom: -10px;
                    height: 5px;
                    background: #ffffff;
                    transform: translateX(-101%);
                }

                &:hover {
                    text-decoration: none;

                    &:after {
                        animation: border-anim 0.5s 1 ease normal;
                        transform: translateX(0);
                    }
                }
            }

            @-webkit-keyframes border-anim {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }
}

@-webkit-keyframes menu-anim {

    0% {
    left: 0;
    bottom: -99%;
    width: 100%;
    }

    33% {
    left: -99.5%;
    bottom: -99%;
    width: 100%;
    }

    66% {
    left: -99.5%;
    bottom: 0;
    width: 100%;
    }

    100% {
    bottom: 0;
    left: 0;
    width: 25%;
    }

}


/*.navbar-default {
    @include transition(background-color, $transition-duration);
}

.navbar-default.transform-navbar,
.navbar-default.affix {
    background: #fff;

    .navbar-header {
        .navbar-brand {
            padding: 0 15px;
            .brand-image-container {

                img {
                    height: 100%;
                    top: 5px;
                }
                .brand-logo-normal {
                    opacity: 1;
                }
                .brand-logo-transparent {
                    opacity: 0;
                }
            }
            .brand-name {
                top: 20px;
                left: 90px;
                font-size: 1.3em;

                a {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
    #navbar {
        a {
            color: $secondary-color-darker;
            padding-top: 20px;
        }

        a.support-us { 
            padding: 10px 20px;
            margin: 10px 30px 5px 20px;
        }

        a:hover {
            color: $primary-color-darker;
        }
    }
    
}

.navbar {
    z-index: $zindex-navbar;

    #navbar {
        a {
            font-size: 1.2em;
            padding-top: 35px;
            @include transition(padding-top, $transition-duration);
        }

        a:hover, a:focus, a:active {
            color: $secondary-color-darker;
        }

        a.support-us {
            background-color: $primary-color;
            border: 1px solid;
            border-radius: 4px;
            padding: 15px 35px;
            margin: 20px 30px 0 30px;
        }

        a.support-us:hover {
            background-color: $secondary-color-darker;
            color: $primary-color;
        }
    }
    
    .navbar-header {

        .navbar-toggle {
            border: none;

            .icon-bar {
                background-color: $primary-color-darker;
            }

            &:hover {
                background-color: transparent;

                .icon-bar {
                    background-color: lighten($primary-color-darker, 20%);
                }
            }

        }
        
        .navbar-brand {
            margin-left: 0;

            .brand-name {
                position: absolute;
                top: 35px;
                left: 100px;
                font-size: 1.5em;
                @include transition(all, $transition-duration);

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
            .brand-image-container {
                height: 50px;
                position: relative;

                img {
                    height: 125%;
                    position: absolute;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-normal {
                    opacity: 0;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-transparent {
                    opacity: 1;
                    @include transition(all, $transition-duration);
                }
            }
        }
    }
}*/