.navbar-default {
    @include transition(background-color, $transition-duration);
    .navbar-header {
        .language-bar {
            position: relative;
            float:  right;
            margin-top: 30px;
            font-size: 1.3em;
            font-weight: 500;
            @include transition(margin-top, $transition-duration);

            a.dropdown-button {
                color: $primary-color;
                &:hover {
                    text-decoration: none;
                    color: lighten($primary-color, 15%);
                }
            }

            a:not(.dropdown-button) {
                color: #fff;
                padding: 10px 15px;

                &:hover {
                    background-color: transparent;
                    color: darken($tertiary-color-darker, 30%);
                }
            }
        }
        .dropdown-menu {
            display: inline-block;
            left: -13px;
            background-color: $primary-color;
            min-width: 0;
            border-radius: 25px;
            opacity: 0;
            transform: translateY(-150%);
            transition: all 0.5s ease;
            
            a {
                color: #fff;
            }

            &.show-dropdown {
                transform: translateY(0%);
                opacity: 1;
            }
        }

        .navbar-button.navbar-toggle {
            border: none;
            z-index: 9999;
            margin: 25px 25px 0;
            @include transition(margin, $transition-duration);

            .icon-bar {
                width: 30px;
                height: 3px;
                background-color: $primary-color;
                @include transition(background-color, $transition-duration);

                &.active {
                    background-color: lighten($primary-color, 15%);
                }
            }

            &:focus, &:hover {
                background-color: transparent;
                .icon-bar {
                    background-color: lighten($primary-color, 15%);
                }
            }
        }

        .navbar-brand {
            margin-left: 0;
            padding: 15px 30px;

            .brand-name {
                position: absolute;
                top: 35px;
                left: 105px;
                font-size: 1.5em;
                @include transition(all, $transition-duration);

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
            .brand-image-container {
                height: 50px;
                position: relative;

                img {
                    height: 125%;
                    position: absolute;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-normal {
                    opacity: 0;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-transparent {
                    opacity: 1;
                    @include transition(all, $transition-duration);
                }
            }
        }
    }
}

.navbar-default.transform-navbar,
.navbar-default.affix {
    background: rgba(255, 255, 255, 0.9);

    .navbar-header {

        .language-bar {
            margin-top: 20px;
        }

        .navbar-button.navbar-toggle {
            margin: 15px 25px;
        }
        .navbar-brand {
            padding: 0 30px;
            .brand-image-container {

                img {
                    height: 100%;
                    top: 10px;
                }
                .brand-logo-normal {
                    opacity: 1;
                }
                .brand-logo-transparent {
                    opacity: 0;
                }
            }
            .brand-name {
                top: 25px;
                left: 90px;
                font-size: 1.3em;

                a {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
}

.navbar-overlay {
    position: fixed;
    z-index: 1000;
    bottom: -99%;
    height: 100%;
    background: $primary-color-darker-transparent;
    right: 0;
    width: 100%;
    transition: all 0.5s ease;

    &.anim {
        right: 0;
        bottom: 0;
        animation: menu-anim 1s 1 ease-out normal;
        width: 100%;
        transition: all 0.5s ease;

        &.reverse-anim {
            right: 0;
            bottom: 0;
            animation: menu-anim 1s 1 ease-out reverse;
            width: 100%;
            transition: all 0.5s ease;
        }
    }

    ul {
        width: 100%;
        text-align: center;
        margin-top: 15vh;
        padding-left: 0;
        margin-left: -10px;
        font-size: 5vh;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                position: relative;
                display: inline-block;
                padding: 10px 0;
                overflow: hidden;

                &:after {
                    display: block;
                    border-radius: 2px;
                    content: ''; 
                    left: 0;
                    bottom: -10px;
                    height: 5px;
                    background: #ffffff;
                    transform: translateX(-101%);
                }

                &:hover {
                    text-decoration: none;

                    &:after {
                        animation: border-anim 0.5s 1 ease normal;
                        transform: translateX(0);
                    }
                }
            }

            @-webkit-keyframes border-anim {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }
}

@-webkit-keyframes menu-anim {
    0% {
    right: 0;
    bottom: -99%;
    width: 100%;
    background: $primary-color-darker;
    }

    33% {
    right: -99.5%;
    bottom: -99%;
    width: 100%;
    background: $primary-color-darker;
    }

    66% {
    right: -99.5%;
    bottom: 0;
    width: 100%;
    background: $primary-color-darker;
    }

    100% {
    bottom: 0;
    right: 0;
    width: 100%;
    background: $primary-color-darker-transparent;
    }
}

/*.navbar-default {
    @include transition(background-color, $transition-duration);
}

.navbar-default.transform-navbar,
.navbar-default.affix {
    background: #fff;

    .navbar-header {
        .navbar-brand {
            padding: 0 15px;
            .brand-image-container {

                img {
                    height: 100%;
                    top: 5px;
                }
                .brand-logo-normal {
                    opacity: 1;
                }
                .brand-logo-transparent {
                    opacity: 0;
                }
            }
            .brand-name {
                top: 20px;
                left: 90px;
                font-size: 1.3em;

                a {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
    #navbar {
        a {
            color: $secondary-color-darker;
            padding-top: 20px;
        }

        a.support-us { 
            padding: 10px 20px;
            margin: 10px 30px 5px 20px;
        }

        a:hover {
            color: $primary-color-darker;
        }
    }
    
}

.navbar {
    z-index: $zindex-navbar;

    #navbar {
        a {
            font-size: 1.2em;
            padding-top: 35px;
            @include transition(padding-top, $transition-duration);
        }

        a:hover, a:focus, a:active {
            color: $secondary-color-darker;
        }

        a.support-us {
            background-color: $primary-color;
            border: 1px solid;
            border-radius: 4px;
            padding: 15px 35px;
            margin: 20px 30px 0 30px;
        }

        a.support-us:hover {
            background-color: $secondary-color-darker;
            color: $primary-color;
        }
    }
    
    .navbar-header {

        .navbar-toggle {
            border: none;

            .icon-bar {
                background-color: $primary-color-darker;
            }

            &:hover {
                background-color: transparent;

                .icon-bar {
                    background-color: lighten($primary-color-darker, 20%);
                }
            }

        }
        
        .navbar-brand {
            margin-left: 0;

            .brand-name {
                position: absolute;
                top: 35px;
                left: 100px;
                font-size: 1.5em;
                @include transition(all, $transition-duration);

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
            .brand-image-container {
                height: 50px;
                position: relative;

                img {
                    height: 125%;
                    position: absolute;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-normal {
                    opacity: 0;
                    @include transition(all, $transition-duration);
                }

                .brand-logo-transparent {
                    opacity: 1;
                    @include transition(all, $transition-duration);
                }
            }
        }
    }
}*/