@media (min-width: $screen-md-min) { 
    .section-header {
        height: 150px;
        width: 80%;
        h2 {
            font-size: 2.7em;
        }
    }
    .section-body {
        font-size: 1.4em;
    }
    .carousel-container {
        margin-top: 200px;
    }

    #third-section .section-content {
        height: 700px;
        img {
            top: 50px;
        }
    }

    #about {
        height: 60vh;
    }

    #misc-projects {
        padding: 5vh 0;
    }

    #vision {
        h2 {
            font-size: 3em;
        }

        p {
            font-size: 1.5em;
        }
    }

    .intersection {
        h2 {
            font-size: 2em;
        }
        blockquote {
            font-size: 1.5em;
        }
    }

    #supportpage {
        .section-body {
            p.upper {
                margin: 10px;
                font-size: 1em;
                text-align: justify;
                font-weight: 500;
            }
        }
        .col-md-6:first-child {
            padding: 0 20px;
        }
        .col-md-6:last-child {
            p {
                font-size: 1.5em;
            }

            img {
                top: 10vh;
                width: 70%;
                left: 0;
                right: 0;
                margin: auto;
            }

            .content {
                table {
                    th {
                        font-size: 2em;
                    }
                    td {
                        font-size: 2.5em;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}