@media (min-width: $screen-lg-min) { 
    #hero-section {
        font-size: 4.5em;
    }

    #second-section {
        .section-A, .section-B {
            height: 100vh;
        }
        .section-A .image-overlay {
            padding-top: 25vh;
            font-size: 2.6em;
        }
        .section-B .image-overlay {
            padding-top: 40vh;
            font-size: 3.3em;
        }
    }

     .section-header {
        height: 4vh;
        width: 80%;
        margin: 20px auto;
    }

    .section-body {
        font-size: 1.8em;
        padding: 10px;
    }

    #third-section .section-content img {
        top: 0;
    }

    #about {
        .section-header {
            height: 20vh;
        }
        height: 90vh;
    }
    #contact-body .form-container .form-container-body {
        max-width: 750px; 
    }

    #supportpage {

        .col-md-6:first-child {
            margin: 5vh 0;
        }
        .section-header {
            height: 60px;
        }
        .section-body {
            margin: 30px 40px;
            font-size: 1.7em;
             p.upper {
                margin: 20px 0;
                text-align: left;
             }
        }
        .partner-logo {
            max-width: 250px;
            margin: 30px 20px;
        }
    }
}