@media (min-width: $screen-sm-min) {
    .navbar-default .navbar-header .navbar-brand .brand-name {
        font-size: 1.5em;
        left: 105px;
    }
    .navbar-default.affix .navbar-header .navbar-brand .brand-name,
    .navbar-default.transform-navbar .navbar-header .navbar-brand .brand-name {
        font-size: 1.3em;
    }

    #hero-section {
        font-size: 3.5em;
    }

    #second-section {
        .section-A, .section-B {
            height: 500px;
        }
    }
    #second-section .section-B .image-overlay {
        padding: 25% 10%;
        font-size: 2.5em;
    }

    #second-section .section-A .image-overlay {
        padding: 20% 10%;

        .like-icon {
            height: 110px;
            margin-bottom: 35px;
        }
    }

    #third-section .section-content {
        height: 700px;
    }

    .section-header {
        height: 140px;
        width: 60vw;
        margin: 0 auto;
        h2 {
            font-size: 3em;
        }
    }

    .section-body {
        font-size: 1.8em;
        padding: 30px 50px; 
        text-align: justify;
    }

    #about {
        height: 100vh;

        .section-content {
            height: 60vh;
        }
    }

    #corevalues {
        h2 {
            font-size: 5vw;
            padding: 3% 0;
        }
        p {
            font-size: 4vw;
        }
    }

    #vision {
        h2 {
            font-size: 5vw;
            padding: 8px;
        }

        p {
            font-size: 3vw;
            margin: 20px 30px 80px;
        }
    }

    .intersection {
        h2 {
            font-size: 5vw;
        }
        blockquote {
            font-size: 3vw;
        }
    }

    #contact-body .form-container .form-container-body {
        max-width: 550px; 
    }

    #supportpage {
        .section-body {
            p.upper {
                margin: 10px;
                font-size: 2.4vw;
                text-align: center;
                font-weight: 500;
            }
        }
        .col-md-6:last-child {
            p {
                font-size: 3vw;
            }

            img {
                top: 0vh;
                width: 50vw;
                left: 0;
                right: 0;
                margin: auto;
            }

            .content {
                table {
                    th {
                        font-size: 4vw;
                    }
                    td {
                        font-weight: 500;
                    }
                }
            }
        }
    }
 }